@page "/pelicula"

<PageTitle>Weather forecast</PageTitle>

@using PeliculaenBlazor.Data
@inject WeatherForecastService ForecastService

<h1>Películas disponibles</h1>

<p>Listado de las peliculas actualmente disponibles.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Director</th>
                <th>Género</th>
                <th>Puntuación</th>
                <th>Rainting</th>
                <th>Año de publicación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDring()ateSt</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
